.App {
  text-align: center;
}

.container {
  height: 95vh;
  background-color:  #f9d9ca;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  display: flex;
}

.moniter {
  height: 15%;
  width: 95%;
  background-color: #a2dff0;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  display: flex;
}

.moni_name {
  height: 80%;
  width: 15%;
  background-color: green;
  align-items: center;
  text-align: center;
  display: flex;
}

.moni_status {
  height: 80%;
  width: 25%;
  background-color: coral;
  outline: black;
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: row;
}

.moni_setting {
  height: 80%;
  width: 10%;
  background-color: gray;
  display: flex;
  align-items: center;
  text-align: center;
}

.visual_block {
  height: 85%;
  width: 95%;
  background-color: cadetblue;
  align-items: center;
  flex-direction: row;
  display: flex;
}

.house {
  height: 100%;
  width: 85%;
  background-color: black;
  align-items: center;
  flex-direction: row;
  display: flex;
}

.interaction {
  height: 100%;
  width: 15%;
  background-color: white;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  display: flex;
}

.int_icon {
  height: 20%;
  width: 90%;
  background-color: pink;
  align-items: center;
  flex-direction: column;
  display: flex;
}

.int_choose {
  height: 10%;
  width: 90%;
  background-color: pink;
  align-items: center;
  flex-direction: column;
  display: flex;
}

.set_data {
  height: 80%;
  width: 95%;
  background-color: pink;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  display: flex;
}

.set_property {
  height: 95%;
  width: 70%;
  background-color: black;
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
}

.set_user_icon {
  margin-top: 5%;
  margin-left: 2.5%;
  height: 10%;
  width: 10%;
  display: flex;
}

.set_user_word {
  margin-top: 5%;
  margin-left: 2.5%;
  height: 10%;
  width: 80%;
  background-color: skyblue;
  align-items: center;
}

.set_property_icon {
  margin-top: 0%;
  margin-left: 2.5%;
  width: 10%;
  height: 10%;
  display: flex;
}

.set_property_list {
  margin-top: 0%;
  margin-left: 2.5%;
  height: 70%;
  width: 75%;
  background-color: skyblue;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  display: flex;
}

.set_pet {
  height: 95%;
  width: 30%;
  background-color: white;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  display: flex;
}

.set_pet_pic {
  height: 70%;
  width: 90%;
  display: flex;
}

.set_pet_name {
  width: 80%;
  height: 20%;
}

.set_mute {
  height: 7.5%;
  width: 95%;
  background-color: white;
  flex-direction: row;
  align-items: center;
  display: flex;
}

.set_mute_icon {
  height: 80%;
  width: 5%;
  margin-left: 2.5%;
  display: flex;
}

.set_mute_button {
  height: 50%;
  width: 10%;
  margin-left: 0%;
  display: flex;
  background-color: black;
}

.set_logout_ss {
  height: 7.5%;
  width: 10%;
  display: flex;
  background-color:gray;
}

.set_logout {
  height: 5%;
  width: 7.5%;
  align-items: center;
  background-color: khaki;
}

/*-----------------------------------------------------------*/
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
